---
page_title: "Admiral Provider"
subcategory: ""
description: |-
  The Admiral provider is used to manage Admiral platform resources.
---

# Admiral Provider

The Admiral provider is used to interact with the resources supported by [Admiral](https://admiral.io). The provider needs to be configured with the proper credentials before it can be used.

Use the navigation to the left to read about the available resources and data sources.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}